@import "tailwindcss";

:root{
   --primary-blue : #A0C4FF;
 --primary-lavendar: #c7b9ff;
 --primary-peach: #FFDDC1;

 --heading-dark: #333842;
--heading-mid : #5A616B;
--heading-light : #A0A5AD;
--button-bg: #F7F8FA;
--light-blue: #EFF2F7;
}